#headShotContainer{
   
    width:auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:15px;
    margin-bottom: 15px;
  

}



#Header{
    font-family: sans-serif, Arial, Helvetica;
    font-style: italic;
    font-size: 100px;
    text-shadow: 2px 2px 5px red;
}

body {
    background-color: rgb(149, 157, 160);
  }

.card{
    box-shadow: 2px 2px 5px red;
}

#cardRow{
    width:auto;
    margin-left: 5%;
    margin-right: 5%;

}